html {
	font-family: "Courier";
}

footer {
	font-size: 10pt;
}

.btn-circle {
	display: inline-block;
	border: 2px solid #000000;
	border-radius: 20px;
	background: #000000;
	color: #ffffff;
	height: 20px;
	width: 20px;
}

.btn-circle:hover {
	background: #ffffff;
	color: #000000;
}

.btn-more {
	position: absolute;
	top: 180px;
	left: 655px;
}

.btn-works {
	position: absolute;
	top: 300px;
	left: 535px;
}

.btn-logs {
	position: absolute;
	top: 300px;
	left: 775px;
}

.btn-about {
	position: absolute;
	top: 420px;
	left: 655px;
}

.in-text {
	margin-top: 1px;
	text-align: center;
}