    {{template "header.html" .}}
        <div class="container-main">
            <div class="content">
                <div class="about-intro-cont">
                    <div class="grid">
                        <div class="grid-cell col-12 col-sm-8 col-xs-4">
                            <blockquote>
                                "You won't know a man until you meet him. But you can't talk to a man when you had no common interest with him."
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="about-like-cont">
                    <div class="about-title">
                        <div class="grid">
                            <div class="grid-cell col-12 col-sm-8 col-xs-4">
                                <div class="about-main-title">Some Stuff I Like</div>
                            </div>
                        </div>
                    </div>
                    <div class="about-tos">
                        <div class="grid">
                            <div class="grid-cell col-12 col-sm-8 col-xs-4">
                                <div class="about-like-sect">
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-info">
                                            <div class="about-like-title">Town of Salem</div>
                                            <div class="about-like-desc">Psychological war where you had to known other role and win as your team. Unless you are alone in these. Just like the famouse werewolf game except you get to play as townies, mafias, serial killer, or some role that just mess around with others.</div>
                                        </div>
                                    </div>
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-img">
                                            <img src="/assets/image/tos.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-ow">
                        <div class="grid">
                            <div class="grid-cell col-12 col-sm-8 col-xs-4">
                                <div class="about-like-sect">
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-img">
                                            <img src="/assets/image/overwatch.png">
                                        </div>
                                    </div>
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-info">
                                            <div class="about-like-title">Overwatch</div>
                                            <div class="about-like-desc">One of my dream comes true. A world where its like DotA while there is heroes with certain abilities but its in first person. Where tactics and shooting your way out is the way.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-mu">
                        <div class="grid">
                            <div class="grid-cell col-12 col-sm-8 col-xs-4">
                                <div class="about-like-sect">
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-info">
                                            <div class="about-like-title">Marvel Universe</div>
                                            <div class="about-like-desc">Love the concept of heroes or anyone with superhuman abilities. Been with marvel lately so i go with it. Doesn't hate DC at all. Its just they one step too late.</div>
                                        </div>
                                    </div>
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-img">
                                            <img src="/assets/image/marvel.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-rm">
                        <div class="grid">
                            <div class="grid-cell col-12 col-sm-8 col-xs-4">
                                <div class="about-like-sect">
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-img">
                                            <img src="/assets/image/rm.png">
                                        </div>
                                    </div>
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-info">
                                            <div class="about-like-title">Running Man</div>
                                            <div class="about-like-desc">Starting as curiousity from my dorm mate. Got laugh so hard when i first watch it. The show has been a rundown lately. But got back alive with additional members. Still have faith in it while they still hwaiting!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-op">
                        <div class="grid">
                            <div class="grid-cell col-12 col-sm-8 col-xs-4">
                                <div class="about-like-sect">
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-info">
                                            <div class="about-like-title">One Piece</div>
                                            <div class="about-like-desc">I love superpower concept the most. And they bring the second concept i love too, which is pirates! What did you expect my response from it? </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-img">
                                            <img src="/assets/image/onepiece.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-d2">
                        <div class="grid">
                            <div class="grid-cell col-12 col-sm-8 col-xs-4">
                                <div class="about-like-sect">
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-img">
                                            <img src="/assets/image/dota2.png">
                                        </div>
                                    </div>
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-info">
                                            <div class="about-like-title">DotA 2</div>
                                            <div class="about-like-desc">Strategies, teamwork, and individual skill. Unique heroes and abilities interacting in fight to come. Creating dynamic result for every game. Beside i've been playing it since in middle-school, i always love flashy techniques and abilities shown.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-tar">
                        <div class="grid">
                            <div class="grid-cell col-12 col-sm-8 col-xs-4">
                                <div class="about-like-sect">
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-info">
                                            <div class="about-like-title">The Amazing Race</div>
                                            <div class="about-like-desc">Aside from the race for 10 to 12 teams. The show keeps me remember that this world had so many beauty to miss, so many places can be reach, and so many culture to experience.</div>
                                        </div>
                                    </div>
                                    <div class="grid-cell col-6 col-sm-4 col-xs-4">
                                        <div class="about-like-img">
                                            <img src="/assets/image/tar.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-link-cont">
                    <div class="grid">
                        <div class="grid-cell col-12 col-sm-8 col-xs-4">
                            <div class="about-link-title">Find Me Around The Web!</div>
                        </div>
                        <div class="grid-cell col-12 col-sm-8 col-xs-4">
                            <div class="about-links">
                                <div class="about-link btn"><a href="https://github.com/refandhika"><i class="fa fa-github fa-3x"></i></a></div>  
                                <div class="about-link btn"><a href="https://www.facebook.com/refa.andhika"><i class="fa fa-facebook fa-3x"></i></a></div>
                                <div class="about-link btn"><a href="https://www.linkedin.com/in/refa-andhika-aa203a94/"><i class="fa fa-linkedin fa-3x"></i></a></div>
                                <div class="about-link btn"><a href="http://steamcommunity.com/id/stave-id/"><i class="fa fa-steam fa-3x"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-loc-cont">
                    <div class="grid">
                        <div class="grid-cell col-12 col-sm-8 col-xs-4">
                            <div class="about-loc-title">Address</div>
                        </div>
                        <div class="grid-cell col-6 col-sm-4 col-xs-4">
                            <div id="map" class="about-loc-maps">
                            </div>
                            <script>
                              function initMap() {
                                var uluru = {lat: -6.576147, lng: 106.817818};
                                var map = new google.maps.Map(document.getElementById('map'), {
                                  zoom: 16,
                                  center: uluru
                                });
                                var marker = new google.maps.Marker({
                                  position: uluru,
                                  map: map
                                });
                              }
                            </script>
                            <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGzavlWXPi20ylHp5D-h6wiYKXEaFj-K4&callback=initMap">
                            </script>
                        </div>
                        <div class="grid-cell col-6 col-sm-4 col-xs-4">
                            <div class="about-loc-desc">
                                <p>Achmad Adnawijaya St. C1/8</p>
                                <p>Bogor City, West Java</p>
                                <p>16152</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{template "footer.html" .}}