    {{template "header.html" .}}
        <div class="container-main">
            <div class="content">
                <div class="home-intro-cont">
                    <div class="home-intro">
                        <div class="image-home"><img src="/assets/image/8709583.png" /></div>
                        <div class="info-home">
                            <div class="name-home">Refa Andhika</div>
                            <div class="occu-home">Computer Generalist</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{template "footer.html" .}}