/* Buttons */
#sedikit-btn {
	display: inline-block;
	position: relative;
	top: 25vh;
	height: 301px;
	width: 301px;
}

.btn, .btn:hover, .btn:after, .btn:before {
	cursor: pointer;
}
.btn-dark {
	background: #000000; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(#222222, #000000); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#222222, #000000); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#222222, #000000); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#222222, #000000); /* Standard syntax */
}

.btn-circle {
	display: inline-block;
	border: 2px solid #000000;
	border-radius: 20px;
	color: #ffffff;
	background: #000000;
	height: 20px;
	width: 20px;
	z-index: 1;
}

.btn-circle:hover {
	background: #ffffff;
	color: #000000;
}

.btn-circle-x {
	position: absolute;
	top: 0.5vh;
	right: 0.5vh;
	border: 2px solid #ffffff;
	border-radius: 20px;
	color: #000000;
	background: #ffffff;
	height: 20px;
	width: 20px;
	z-index: 5;
	display: none;
}

.btn-circle-x:hover {
	background: #000000;
	color: #ffffff;
}

.btn-more {
	position: absolute;
	top: -10px;
	left: 141px;
}

.btn-works {
	position: absolute;
	top: 141px;
	left: -10px;
}

.btn-logs {
	position: absolute;
	top: 141px;
	right: -10px;
}

.btn-about {
	position: absolute;
	bottom: -10px;
	left: 141px;
}

.in-text {
	margin: 1px 5px;
	z-index: 1;
}