html {
	font-family: "Courier";
	overflow: hidden;
}

footer .left-foot{
	position: fixed;
	bottom: 0.5vh;
	left: 0.5vw;
	font-size: 0.8em;
}

footer .right-foot{
	position: fixed;
	bottom: 0.5vh;
	right: 0.5vw;
	font-size: 0.8em;
}

h2 {
	margin: 25px 25px 10px 25px;
}

h3 {
	margin: 10px 50px;
}

a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

p {
	font-size: 10pt;
}

.main-container {
	height: 98vh;
	width: 98vw;
	cursor: default;
}

.center-align {
	text-align: center !important;
}
