/* Views */
.container {
	margin: 50px;
	overflow-y: auto;
	height: 600px;
	padding-right: 100px;
}

.content {
	margin: 25px 0;
	width: 100%;
}

p:hover, li:hover, h1:hover, h2:hover, h3:hover {
	background: #ffffff;
	color: #000000;
}

.view-about, .view-works,
.view-logs, .view-more {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;
	display: none;
	z-index: 3;
}

/* Column */
.col-md {
	display: inline-block;
	width: 49%;
}